
body{
	font-size:1em;
	font-family: Arial, Verdana;
}

#main {
	max-width:480px;	
	margin:auto;
}

.inptext{
	width:230px;
}

.inpnumber{
	width:30px;
}

.title{
	text-align:right;
	color:red;
	 text-shadow: 2px 2px #aaaaaa;
}